<div>
  <div class="page-header">
    Spells list
  </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div fxFlex="20%" *ngFor="let spell of spellsList">
      <mat-card>
        <mat-card-title>
          {{spell.name}}
        </mat-card-title>
        <img mat-card-image src="../../../../assets/images/meteor.png" alt="image" width="256" height="256">
        <mat-card-content class="content">
          {{spell.description}}
        </mat-card-content>
        <mat-card-footer class="p-b-10" align="center">
          Power: {{spell.power}}
          Mana: {{spell.neededMana}}
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
