$text-color: #E7E7E6;

.page-header {
  color: $text-color;
  font-size: x-large;
  margin-left: 10px;
}

@font-face {
  font-family:"ElderMagic";
  src: url(src/assets/fonts/ElderMagic.ttf) format("truetype");
}
